# Note: ACTIONS_RESULTS_URL must end in a trailing "/"
# It's unclear if we need to set both CUSTOM_ACTIONS_RESULTS_URL and ACTIONS_RESULTS_URL
# See: https://gha-cache-server.falcondev.io/getting-started

githubConfigUrl: "https://github.com/pyvista"
template:
  spec:
    runtimeClassName: nvidia
    containers:
      - name: runner
        image: ghcr.io/pyvista/arc-runners:ubuntu24.04-gpu-49a4f7aec4061da2de8730e9b13a85199e96b333
        imagePullPolicy: Always
        command: ["/home/runner/run.sh"]
        env:
          - name: ACTIONS_RESULTS_URL
            value: "http://gha-actions-cache-gha-actions-cache-server.actions-cache.svc.cluster.local/"
          - name: CUSTOM_ACTIONS_RESULTS_URL
            value: "http://gha-actions-cache-gha-actions-cache-server.actions-cache.svc.cluster.local/"
          - name: PIP_TRUSTED_HOST
            value: "devpi.devpi.svc.cluster.local"
          - name: PIP_INDEX_URL
            value: "http://devpi.devpi.svc.cluster.local/root/pypi"
          - name: UV_INDEX
            value: "http://devpi.devpi.svc.cluster.local/root/pypi"
        resources:
          requests:
            cpu: "2"
            memory: "8Gi"
            nvidia.com/gpu: "1"
          limits:
            cpu: "8"
            memory: "32Gi"
            nvidia.com/gpu: "1"
