- name: Deploy HAProxy load balancer for k3s
  hosts: server
  become: yes
  vars:
    haproxy_listen_port: 6443
    haproxy_backend_port: 6443
    k3s_server_ips:
      - 10.30.0.4
      - 10.30.0.5
      - 10.30.0.6
  tasks:
    - name: Install HAProxy
      package:
        name: haproxy
        state: present

    - name: Configure HAProxy for k3s API
      template:
        src: cluster-config/haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg
        mode: "0644"
      notify:
        - Restart HAProxy

    - name: Enable and start HAProxy
      systemd:
        name: haproxy
        enabled: yes
        state: started

  handlers:
    - name: Restart HAProxy
      systemd:
        name: haproxy
        state: restarted
